﻿@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <div class="control-group">
        <button data-bind="activity: uploading, enable: !uploading()" class="fileinput-button">
            <span data-bind="text: uploadBtnText">Select file...</span>
            <input type="file" data-bind="fileupload: { url: '@Url.Action("Upload")', start: onFileUploadStart, progress: onFileUploadProgress, done: onFileUploaded, add: onFileAdded }" />    
        </button>
        <a href="#" data-bind="text: filename, click: preview"></a>
    </div>
    
    
    <div class="image-preview" title="Preview" style="display: none;">
        <img data-bind="attr : { src : previewUrl, alt: filename }"/>
    </div>
</p>

<script type="text/javascript">
    var ViewModel = function(previewUrl) {
        var self = this;

        self.filename = ko.observable();
        self.uploading = ko.observable(false);
        self.previewUrl = ko.observable();

        self.uploadBtnText = ko.computed(function () {
            if (self.uploading()) {
                return "Uploading...";
            } else {
                if (self.filename()) {
                    return "Change file";
                } else {
                    return "Select file";
                }
            }
        });

        self.onFileUploadStart = function (e) {
            self.uploading(true);
        };

        self.onFileUploadProgress = function () {
        };

        self.onFileUploaded = function (response) {
            self.uploading(false);
            self.filename(response.result.fileName);
        };

        self.onFileAdded = function (e) {
        };

        self.previewUrl = ko.computed(function() {
            if (self.filename()) {
                return previewUrl + '?fileName=' + self.filename();
            } else {
                return null;
            }
        });

        self.preview = function() {
            $('div.image-preview').dialog({ width: 'auto', height: 'auto'});
        };
    };

    $(document).ready(function() {
        var model = new ViewModel('@Url.Action("Preview")');
        ko.applyBindings(model);
    });
</script>
